.vs/**
_ReSharper.Caches/**
Chimera-Importer/bin/**
Chimera-Importer/obj/**
Chimera-Importer/Chimera-Importer.pfx
Chimera-Importer/ITinnovationsLibrary.dll
Chimera-Importer/ITinnovationsAddForXceedToolkit.dll
ExtendedWPFToolkit/Xceed.Wpf.Toolkit/bin/**
Installer/Installer/**
Chimera-Importer.sln.DotSettings*
UpgradeLog.htm
