<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Chimera_Importer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <userSettings>
        <Chimera_Importer.Properties.Settings>
            <setting name="TempPath" serializeAs="String">
                <value>P:\temp\Chimera\export\OBJ</value>
            </setting>
            <setting name="MeshLabServer" serializeAs="String">
                <value>C:\Program Files\VCG\MeshLab\meshlabserver.exe</value>
            </setting>
            <setting name="First" serializeAs="String">
                <value>True</value>
            </setting>
        </Chimera_Importer.Properties.Settings>
    </userSettings>
</configuration>
